/* foglio di stile */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url("../img/wood.jpg");
  background-size: cover;
}


#container{
  width: 80%;
  margin: 15px auto;
}


header{
  color: white;
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 16px;
}

#header-main{
  position: relative;
  background-image: url("../img/forest.jpg");
  background-size: cover;
  background-position: center;
  border: 6px solid white;
  height: 400px;
}


#header-logo{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 350px;
  transform: translate(-50%,-50%);
}

#header-title{
  position: relative;
  text-align: center;
  top: calc(50% + 30%);
  transform: translateY(-50%);
}

.header-nav{
  width: 100%;
  background-color: grey;
}

.header-nav .menu{
  text-align: center;
  height:100%;
}


.header-nav li{
  padding: 10px 10px;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
}

.header-nav li a{
  color: white;
  text-decoration: none;
}

.riga{
  margin-top: 15px;
  font-family: 'Lato', sans-serif;
  color: black;
  font-size: 14px;
  line-height: 25px;
}

.riga::after{
  display: table;
  content: "";
  clear: both;
}


aside{
  float: left;
  width:20%;
}

.widget{
  margin-bottom: 15px;
  border-radius: 5px;
  background-color: white;
}

.widget >*{
  text-align: left;
  padding: 5%;
}

aside img{
  float: left;
}

main{
  float: left;
  width:40%;
  margin: 0 10%;
  border-radius: 5px;
}

main .widget h2{
  text-shadow: 2px 2px #0000004a;
}

footer{
  text-align: center;
  height: 100px;
  background-color: white;
  margin-bottom: 9%;
  border-radius: 5px;
}

footer #autore{
  font-style: oblique;
  color: grey;
  margin: 0 2%;
  border-bottom: solid 1px grey;
}

footer #footer-images{
  width: 100%;
  height: 80px;
  margin: 3px auto;
}

.footer-img-dim{
  width: 40px;
  height: 40px;
}
